.nav-link:hover {
    background-color: WHITE !important;
    color: BLACK !important;
}

nav ul {
    width: 100% !important;
    text-align: center !important;
}

nav ul li {
    width: 50% !important;
    text-align: center !important;
    font-size: 20px !important;
}

nav ul li a {
    color: red !important;
}

h1 {
    color: black !important;
    font-size: 100px;
}

#header {
    padding: 20px !important;
    font-family: 'Italianno', cursive;
    background-color: #f7d786 !important;
}

body {
    font-family: 'Italiana', serif;
    font-size: 25px;
    font-weight: bold;
    background-color: #f7d786;
}

h2 {
    text-align: center !important;
    font-family: 'Italiana', serif;
    font-size: 35px;
    font-weight: bold;
}

h4 {
    text-align: center !important;
    font-family: 'Italiana', serif;
    font-size: 35px;
    font-weight: bold;
}

img {
    width: 100% !important;
    margin: auto !important;
}

#cardHead {
    text-align: center !important;
}

#cardPara {
    text-align: center !important;
}

.card-title {
    text-align: center !important;
}

.card-text {
    text-align: center !important;
}

#recBtn {
    width: 100% !important;
    margin: auto !important;
}

footer {
    text-align: center !important;
    font-size: 12px !important;
}